.form-inline.clearfix
  .nested-fields
    = f.input :step, input_html: {class: 'form-input form-control'}
    = link_to_remove_association "Remove step", f, class: "form-button btn btn-default",render_options: {:bootstrap => 'inline'}, partial: 'direction_fields'
