.form-inline.clearfix
  .nested-fields
    = f.input :name, input_html: {class: 'form-input form-control'}
    = link_to_remove_association "Remove", f, class: "form-button btn btn-default",render_options: {:bootstrap => 'inline'}, partial: 'ingredients_fields'
