/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';


@mixin box-shadow {

  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;

  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;

  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;

  
}


$red: #DB6161;


body {

  background: rgb(235, 238, 243);
  
}

.main_content {
  padding: 0 0 50px 0;
  
}


.alert {

  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  @include box-shadow;
  background: white;
  font-weight: bold;
}

.navbar {
  margin-bottom: 50px;
  @include box-shadow;
  border: none;
  .navbar-brand {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 25px;
    a {
      color: $red;
    }
  }
}

.recipe {
  background: white;
  border-radius: 5px;
  margin-bottom: 40px;
  @include box-shadow;
  .image_wrapper {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  img {
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &:hover {
      transform: scale(1.075);
    }
  }
  h2 {
    padding: 15px 5%;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    a {
      color: $red;
    }
  }
}

#recipe_top {
  margin-bottom: 50px;
}

#recipe_info, #ingredients, #directions {
  background: white;
  @include box-shadow;
  min-height: 360px;
  border-radius: 5px;
  padding: 2em 8%;
}

.recipe_image {
  max-width: 100%;
  border-radius: 5px;
  @include box-shadow;
}

#recipe_info {
  h1 {
    font-size: 36px;
    font-weight: normal;
    color: $red;
  }
  .description {
    color: #8A8A8A;
    font-size: 20px;
  }
}

#ingredients, #directions {

  margin-bottom: 50px;

  ul, ol {

    padding-left: 18px;

    li {

      padding: 1em 0;

      border-bottom: 1px solid #EAEAEA;

      
    }
    

    
  }
  

  
}

.form-inline {

  margin-top: 15px;

  
}
.form-input {

  width: 65% !important;

  float: left;

  
}
.form-button {

  float: left;

  width: 30% !important;

  margin-left: 5%;

  
}
.add-button {

  margin-top: 25px;

  
}






























